---
layout: main
---

<header>
  <div class="leftpart">
    <a href="/">
      <span class="logo">Niels Mentink</span>
    </a>
  </div>
  <nav class="rightpart">
    <ul class="menuitems">
      <li><a href="/#projects">Projects</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="fullheight" id="intro">
    <div class="card">
      <div class="profilepicture"></div>
      <div class="content">
        <h1 class="greeting">Hi! I'm <span class="name">Niels</span>,</h1>
        <p class="description">a web developer creating experiences that stick with people.</p>
        <div class="iconholder">
          <a href="https://github.com/V1RE/" target="_blank">test</a>
        </div>
      </div>
    </div>
  </section>

  <section class="fullheight" id="projects">

  </section>
</main>

<footer>
  <a href="https://niels.ment.ink" class="copyright">&copy;<span class="curyear">2020</span> Niels Mentink</a>
</footer>