---
layout: main
---

<header>
  <div class="leftpart">
    <a href="/">
      <span class="logo">Niels Mentink</span>
    </a>
  </div>
  <nav class="rightpart">
    <ul class="menuitems">
      <li><a href="/#projects">Projects</a></li>
    </ul>
  </nav>
</header>

<main>
  <section class="fullheight" id="intro">
    <div class="card">
      <div class="profilepicture"></div>
      <div class="content">
        <h1 class="greeting">Hi! I'm <span class="name">Niels</span>,</h1>
        <div class="description">{{{content}}}</div>
        <div class="iconholder">
          <a href="mailto:niels.mentink@gmail.com" title="E-mail" target="_blank"><i data-feather="mail"></i></a>
          <a href="https://wa.me/31627035882" title="Whatsapp" target="_blank"><i data-feather="message-square"></i></a>
          <a href="https://github.com/V1RE/" title="Github" target="_blank"><i data-feather="github"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section class="fullheight" id="projects">

  </section>
</main>

<footer>
  <a href="https://niels.ment.ink" class="copyright">&copy;<span class="curyear">2020</span> Niels Mentink</a>
</footer>