---
layout: main
---

{{> partials/header }}

<main>
  <section class="content">
    <h1>{{#if icon}}<i data-feather="{{icon}}"></i>{{/if}}{{ title }}</h1>
    {{{ content }}}
  </section>
</main>

{{> partials/footer }}