<header>
  <div class="leftpart">
    <a href="/">
      <span class="logo">Niels<br>Mentink</span>
      <div class="line"></div>
    </a>
  </div>
  <nav class="rightpart">
    <ul class="menuitems">
      <li><a href="/#projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
      <li>
        <label id="theme-switch" class="theme-switch" for="checkbox_theme">
          <input type="checkbox" id="checkbox_theme">
          <i data-feather="moon" class="lightthemeicon"></i>
          <i data-feather="sun" class="darkthemeicon"></i>
        </label>
      </li>
    </ul>
  </nav>
</header>