#contact {
  .content {
    form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      width: calc(100% - #{fluid(24, 32)});
      min-width: calc(100% - #{fluid(24, 32)});
      max-width: calc(100% - #{fluid(24, 32)});
      font-size: inherit;
      line-height: 1;
      font-family: inherit;
      color: inherit;
      background-color: var(--background);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
        rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      -webkit-appearance: none;
      margin: 0px;
      padding: fluid(12, 16);
      border-width: 0px;
      border-style: initial;
      border-color: initial;
      border-image: initial;
      outline: 0px;
      border-radius: fluid(6, 8);
      margin-top: fluid(6, 8);

      &:focus {
        box-shadow: 0 0 0 3px var(--primary);
      }
    }

    button {
      display: inline-block;
      margin: 0;
      padding: fluid(8, 12) fluid(20, 24);
      font-weight: 800;
      text-align: center;
      -webkit-text-decoration: none;
      text-decoration: none;
      color: #fff;
      background-color: var(--primary);
      border: none;
      border-radius: fluid(6, 8);
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;

      .feather {
        height: fluid(16, 24);
        width: fluid(16, 24);
        vertical-align: bottom;
        color: #fff;
      }
    }

    .formgroup {
      margin-bottom: fluid(24, 32);
      width: 100%;
    }

    @media (min-width: 48em) {
      .emailgroup,
      .namegroup {
        width: calc(50% - #{fluid(8, 12)});
      }
    }
  }
}
