$display-wide: 1920;
$display-narrow: 375;

@function fluid($minValue, $maxValue) {
  $x: ($maxValue - $minValue)/ ($display-wide - $display-narrow);
  $y: $maxValue - $display-wide * $x;
  @return calc(#{100 * $x}vw + #{$y}px);
}
