.mainwrapper {
  header {
    height: $headerHeight;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--muted);
    display: flex;
    transition: top 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 15;
    padding: 0 fluid(16, 24);
    justify-content: space-between;
    align-items: center;

    .leftpart {
      a {
        text-decoration: none;
        position: relative;

        .logo {
          font-family: "Roboto Mono", monospace;
          color: var(--text);
          font-size: fluid(16, 24);
        }

        .line {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          top: calc(100% - 2px);
          background-color: var(--primary);
          transition: top ease 0.3s 0.4s, bottom ease 0.3s;
        }

        &:hover {
          .line {
            top: -2px;
            bottom: 100%;
            transition: top ease 0.3s, bottom ease 0.3s 0.4s;
          }
        }
      }
    }

    .rightpart {
      .menuitems {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        li {
          margin-left: fluid(16, 24);

          a {
            &:hover {
              text-decoration: underline;
            }
          }

          #theme-switch {
            height: fluid(24, 36);
            width: fluid(24, 36);
            cursor: pointer;
            position: relative;
            display: block;
            overflow: hidden;

            #checkbox_theme {
              opacity: 0;
            }

            .feather {
              position: absolute;
              left: 0;
              transition: top ease 0.5s;
            }
          }
        }
      }
    }
  }
}

[data-theme="dark"] {
  header {
    #theme-switch {
      .darkthemeicon {
        top: 0;
      }

      .lightthemeicon {
        top: -100%;
      }
    }
  }
}

[data-theme="light"] {
  header {
    #theme-switch {
      .darkthemeicon {
        top: 100%;
      }

      .lightthemeicon {
        top: 0;
      }
    }
  }
}
