#home {
  .mainwrapper {
    main {
      #intro {
        background-color: $primary;
        height: 100vh;
        display: flex;

        .card {
          margin: auto;
        }
      }

      #projects {
        background-color: $secondary;
      }
    }
  }
}
