#project {
  .content {
    .card {
      margin-bottom: fluid(16, 32);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media (min-width: 48em) {
        flex-direction: row;
      }

      .image,
      .introcontainer {
        width: 100%;
        display: flex;
      }

      .introcontainer {
        flex-direction: column;
        justify-content: space-between;

        .iconwrapper {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;

          .left {
            height: fluid(16, 24);

            .feather {
              width: fluid(16, 24);
              height: fluid(16, 24);
              margin-right: fluid(8, 12);
            }
          }

          .right {
            display: flex;

            .bgicon {
              width: fluid(16, 24);
              height: fluid(16, 24);
              margin-left: fluid(8, 12);
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              filter: brightness(0) saturate(100%) invert(65%) sepia(20%)
                saturate(145%) hue-rotate(169deg) brightness(93%) contrast(84%);
              transition: filter $transition 0.3s;

              &:hover {
                filter: none;
              }
            }
          }
        }
      }

      .image {
        margin-right: fluid(16, 32);
        margin-bottom: fluid(16, 32);

        @media (min-width: 48em) {
          margin-bottom: 0;
        }

        img {
          margin: auto 0;
          box-shadow: 0 0 0 1px var(--border);
        }
      }
    }
  }
}

[data-theme="dark"] {
  #project {
    .content {
      .card {
        .bgicon {
          filter: grayscale(1) brightness(0);
        }
      }
    }
  }
}
