:root {
  --primary: #0066ff;
  --secondary: #4d94ff;
  --text: #2f363d;
  --background: #fff;
  --muted: #f1f3f4;
  --border: #d1d5da;
  --icon: #959da5;
  --gradient-color-light: #21d4fd;
  --gradient-color-dark: #b721ff;
}

[data-theme="dark"] {
  --primary: #0066ff;
  --secondary: #4d94ff;
  --text: #fff;
  --background: #2f363d;
  --muted: #24292e;
  --border: #444d56;
  --icon: #959da5;
  --gradient-color-light: #2f3439;
  --gradient-color-dark: #1c2127;
}

$background-gradient: radial-gradient(
  circle at top left,
  var(--gradient-color-light) 0%,
  var(--gradient-color-dark) 75%
);

$background-gradient-linear: linear-gradient(
  45deg,
  var(--gradient-color-light),
  var(--gradient-color-dark)
);

$headerHeight: fluid(60, 100);
$footerHeight: fluid(48, 64);

@keyframes fadeInUp {
  0% {
    opacity: 0;
    top: 50px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}
