@import "./variables";
@import "./functions";
@import "./reset";
@import "./types";
@import "./card";
@import "./home";

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.fullheight {
  min-height: calc(100vh - #{$headerHeight});
  scroll-snap-align: start;
}

.mainwrapper {
  display: flex;
  flex-direction: column;

  header {
    height: $headerHeight;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: red;
  }

  main {
  }

  footer {
    height: 200px;
    background-color: blue;
    scroll-snap-align: end;
  }
}
