@import "./functions";
@import "./variables";
@import "./reset";
@import "./types";
@import "./header";
@import "./card";
@import "./home";

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

.fullheight {
  min-height: 100vh;
}

.feather {
  color: var(--icon);
  height: fluid(24, 36);
  width: fluid(24, 36);
  transition: color 0.5s;

  &:hover {
    color: var(--text);
  }
}

.mainwrapper {
  display: flex;
  flex-direction: column;

  main {
  }

  footer {
    // scroll-snap-align: end;
    display: flex;
    // justify-content: center;
    align-items: center;
    padding: fluid(16, 24);

    .copyright {
      color: var(--text);
      text-decoration: none;
      font-variation-settings: "wght" 400;
    }
  }
}
